<div class="parent">
    <div class="container">
        <div class="card login">
            <h2>Login</h2>
            <form #myForm="ngForm">
                <input type="text" [(ngModel)]="loginObj.userName" name="userName" placeholder="Username" required />
                @if(myForm.controls['userName'].dirty){
                    <div class="text-danger">
                        @if (myForm.controls['userName'].errors?.['required']) {
                            <span>This is Required</span>
                        }
                    </div>
                }
                <input type="password" [(ngModel)]="loginObj.password" name="password" placeholder="Password"
                    required />
                    @if(myForm.controls['password'].dirty){
                        <div class="text-danger">
                            @if (myForm.controls['password'].errors?.['required']) {
                                <span>This is Required</span>
                            }
                        </div>
                    }
                <button type="submit" [disabled]="myForm.invalid" (click)="onLogin()">Login</button>
                <div class="divs">
                    <p>Don't have an Account  </p>
                    <button type="submit" (click)="getRegister()">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- If we are using ngModel inside a form then name attribute is mandate for input element -->