.container{
    display: flex;
    justify-content: space-between;
}

.title{
    padding: 30px;
    display: inline-flex;
    align-items: center;
}

a{
    text-decoration: none;
}

.float-right{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
}

.my{
    color: blue;
}
